<div class="container">
  <div class="text-center">
    <h1>About me</h1>
  </div>
  <p>
    Hey there. I'm Matt McLean, a newly converted computer science major studying
    through Oregon State University's post-bacch program. I live in Livermore, Ca
    with my two wonderful parents who
</div>
