<div class="container">
  <div class="text-center">
    <h1>About me</h1>
  </div>
  <p>
    Hey there! I'm Matt McLean, a biology-minded computer science major studying
    through Oregon State University's post-bacch program. I live in Livermore, Ca
    where I enjoy the local craft brews, play way too many videogames, and occasionally
    venture out to hike the beautiful local Brushy Peak Reserve. My primary
    career interests at the moment are web development and big data.
  </p>
  <p>
    At the moment, I'm looking for a web development internship for Summer of 2017
    to grow my understanding of the full stack work flow and develop the skills needed
    to design and build a user-minded web experience, with an intuitively designed
    front end and a robust and secure back end.
    I have a lot to learn on these fronts, but I'm passionate about the process,
    consuming as much information as I can and incorporating it into my skillset.
  </p>
  <p>
    My ideal internship would allow me to work with a current team of web developers,
    learning about 
  </p>
</div>
