<div class="container">
<div class="first-row text-center">
  <h1>About me</h1>
</div>
<div class="row text-center">
    <img src="assets/jungle-pic.jpg" class="img-circle profile-pic">
</div>
<div class="first-row">
  <div class="col-md-12 blurb">
    <p>
      Hey there! I'm Matt McLean, a biology-minded computer science major studying
      through Oregon State University's post-bacc program. I live in Livermore, Ca
      where I enjoy the local craft brews, play way too many videogames, and occasionally
      venture out to hike the beautiful local Brushy Peak Reserve. My primary
      career interests at the moment are centered around web applications development and software engineering. I've 
      recently learned Javascript and Nodejs and am starting to delve into database technologies (MySQL in particular) 
      to be able to flesh out my ideas for web applications. Check out the main page for project links 
      to the web apps I've built.
    </p>
    <p>
      At the moment, I'm looking for a web development or software engineering internship
      for Summer of 2017 to work on a project where there's ample learning potential. My
      primary goal is to contribute in a meaningful way while also leveling up my software
      engineering and web development capabilities.
      I have a lot to learn on these fronts, but I'm passionate about improving myself.
    </p>
    <p>
      So, please contact me if you're looking for a passionate, hopeful future web/software developer
      who is ready to learn and help build something great!
    </p>
  </div>
</div>
</div>
