
<div class="container-fluid text-right name-callout">
  <h1>Matthew McLean</h1>
  <h4>Computer Science Student</h4>
</div>
<div class="container-fluid intro text-center">
  <p class="blurb">
    Welcome to my website! Here you can find my resume, the projects I'm working
    on, and even my life story! Feel free to poke around, and learn a bit more
    about what I can do for you.
   </p>
</div>


<div class="container">
  <div class="row first-row">
    <div class="col-md-12 text-center">
      <img src="http://placekitten.com/g/1000/200">
      <h2>This text takes up the whole width!</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="http://placekitten.com/g/250/200">
      <h4>This is a cat.</h4>
    </div>
    <div class="col-md-4 text-center">
      <img src="http://placekitten.com/g/250/200">
      <h4>This is also a cat.</h4>
    </div>
    <div class="col-md-4 text-center">
      <img src="http://placekitten.com/g/250/200">
      <h4>This is still a cat.</h4>
    </div>
  </div>
</div>
