<div class="container">
  <div class="row text-center">
    <h1>Matthew McLean: Computer Scientist*</h1>
    <h5>*Student</h5>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center">Education</h3>
      <ul>
        <li>BS Computer Science, Oregon State University, Expected August 2018</li>
        <li>BS General Biology, University of California San Diego, June 2015</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Work Experience</h3>
      <ul>
        <li>Research Associate at BTS Research (San Diego), Oct. 2015 - Aug. 2016</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Relevant Experience</h3>
      <ul>
        <li>
          Upskill: The Essential Web Developer Course
          <ul>
            <li>Ruby on Rails</li><li>SQL</li><li>HTML/CSS</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Coursework</h3>
    </div>
  </div>
</div>
