<div class="container">
<div class="row text-center">
  <h1>Matthew McLean's Resume</h1>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div>
      <h3 class="text-center resume-header">Education</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>BS Computer Science, Oregon State University, Expected December 2018</p>
          <p>Current GPA: 4.0</p>
          <br>
          <p>BS General Biology, University of California San Diego, June 2015</p>
        </div>
      </div>
    </div>
    <h3 class="text-center resume-header">Skills</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Languages and Frameworks</p>
        <ul class="resume-sub">
          <li>C/C++</li>
          <li>Swift</li>
          <li>Javascript</li>
          <li>Python</li>
          <li>Ruby on Rails</li>
          <li>Some Assembly with MASM</li>
          <li>HTML/CSS</li>
          <li>AJAX</li>
          <li>Node.js</li>
          <li>Express</li>
          <li>Handlebars</li>
        </ul>
        <p>Workflow Technologies</p>
        <ul class="resume-sub">
          <li>Version control with SVN, Git and <a href="https://github.com/mcmattmclean" target="_blank">Github</a></li>
          <li>Visual Studio</li>
          <li>Command Line:</li>
          <ul>
            <li>LLDB, GDB</li>
            <li>Bash</li>
            <li>Vim</li>
            <li>Makefiles</li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div>
      <h3 class="text-center resume-header">Work Experience</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>Software Engineer Intern at Greystone Data Technology (Fremont), June 2017 - Sep. 2017
            <ul class="resume-sub">
              <li>Rewrote old non-modular code base using MVC design pattern under the guidance
                of the lead software engineer for Linux application that tests functionality of
                smartphones . (C++)</li>
              <li>Used Qt with QtCreator to create GUI for software that troubleshoots iOS,
                Android, and Windows Phone devices.</li>
            </ul>
          </p>
        </div>
        <div class="panel-body">
          <p>Research Associate at BTS Research (San Diego), Oct. 2015 - Aug. 2016
            <ul class="resume-sub">
              <li>Executed a variety of cell-based assays and nucleic acid isolation
                following internal SOPs and client protocols, performing data analysis
                on the results and formatting in excel documents or scientific reports
                per client request.</li>
              <li>Operated with strict deadlines for time sensitive projects, ensuring
                timely completion of research for what were typically early stage drug
                discovery and preclinical trials.</li>
              <li>Maintained lab cleanliness and organization.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3 class="text-center resume-header">Projects</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Personal Website - Ruby on Rails</p>
        <p class="resume-sub">
          My portfolio/resume website, using Ruby on Rails and Bootstrap. Hosted on heroku.
        </p>
          <p class="text-center">
            <a href="https://github.com/mcmattmclean/online-resume-website" target="_blank">Source</a> |
            <a href="https://matt-mclean.herokuapp.com/" target="_blank">Link</a>
          </p>
        <br>
        <p>Horrible Helper - iOS</p>
        <p class="resume-sub">
          Built with XCode and Swift, HorribleHelper tracks your game state for the notoriously complicated board game Arkham Horror. 
\nPrompts you at each phase of the game with the actions you need to complete and alerts you when certain game state changes require your attention.
\nWork in progress, source code available through my portfolio/github.

        </p>
        <p class="text-center">
          <a href="https://github.com/mcmattmclean/HorrorHelper" target="_blank">Source</a>
        </p>
        <br>
        <p>Paddy's Pub Website - Node.js</p>
        <p class="resume-sub">
          Built using Nodejs to serve pages for a fake brewery website. Uses express with handlebars for templating. Generates a randomized selection of beers constructed from word banks. Hosted on heroku.
        </p>
        <p class="text-center">
          <a href="https://github.com/mcmattmclean/paddys-pub" target="_blank">Source</a> |
          <a href="https://paddys-pub.herokuapp.com/" target="_blank">Link</a>
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <h3 class="text-center resume-header">Coursework</h3>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4>Fall 2016</h4>
      </div>
      <div class="panel-body">
        <ul class="resume-sub">
          <li>CS161: Introduction to Computer Science I</li>
            <ul>
              <li>Final Grade: A</li>
            </ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4>Winter 2017</h4>
      </div>
      <div class="panel-body">
        <ul class="resume-sub">
          <li>CS162: Introduction to Computer Science II</li>
            <ul>
              <li>Final Grade: A</li>
            </ul>
          <li>CS225: Discrete Systems in Computer Science</li>
            <ul>
              <li>Final Grade: A</li>
            </ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4>Spring 2017</h4>
      </div>
      <div class="panel-body">
        <ul class="resume-sub">
          <li>CS261: Data Structures</li>
            <ul>
              <li>Final Grade: A</li>
            </ul>
          <li>CS271: Computer Architecture and Assembly Language</li>
            <ul>
              <li>Final Grade: A</li>
            </ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4>Fall 2017</h4>
      </div>
      <div class="panel-body">
        <ul class="resume-sub">
        <li>CS290: Web Development</li>
          <ul>
            <li>Final Grade: A</li>
          </ul>
        <li>CS325: Analysis of Algorithms</li>
          <ul>
            <li>Final Grade: A</li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
