<div class="container">
  <div class="row text-center">
    <h1>Matthew McLean: Computer Scientist*</h1>
    <h5>*Student</h5>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center resume-header">Education</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>BS Computer Science, Oregon State University, Expected December 2018</p>
          <br>
          <p>BS General Biology, University of California San Diego, June 2015</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="text-center resume-header">Work Experience</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>Research Associate at BTS Research (San Diego), Oct. 2015 - Aug. 2016
            <ul>
              <li>Executed a variety of cell-based assays and nucleic acid isolation
                following internal SOPs and client protocols, performing data analysis
                on the results and formatting in excel documents or scientific reports
                per client request.</li>
              <li>Operated with strict deadlines for time sensitive projects, ensuring
                timely completion of research for what were typically early stage drug
                discovery and preclinical trials.</li>
              <li>Maintained lab cleanliness and organization.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="text-center resume-header">Skills</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <ul>
            <li>C++</li>
            <li>Ruby on Rails</li>
            <li>SQL</li>
            <li>HTML/CSS</li>
            <li>Some Python</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center resume-header">Coursework</h3>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Fall 2016</h4>
        </div>
        <div class="panel-body">
          <ul>
            <li>CS161: Introduction to Computer Science I</li>
              <ul>
                <li>Final Grade: 95.74%</li>
              </ul>
          <ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Winter 2017</h4>
        </div>
        <div class="panel-body">
          <ul>
            <li>CS162: Introduction to Computer Science II</li>
              <ul>
                <li>Final Grade: 100.7%</li>
              </ul>
            <li>CS225: Discrete Systems in Computer Science</li>
              <ul>
                <li>Final Grade: 97.1%</li>
              </ul>
          <ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Spring 2017 (Current)</h4>
        </div>
        <div class="panel-body">
          <ul>
            <li>CS261: Data Structures</li>
            <li>CS271: Computer Architecture and Assembly Language</li>
          <ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4>Summer 2017</h4>
        </div>
        <div class="panel-body">
          <ul>
          <li>CS290: Web Development</li>
          <li>CS340: Introduction to Databases</li>
          <ul>
        </div>
      </div>
    </div>
  </div>
</div>
