/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
  /* Used for sticky footer */
  position: relative;
  min-height: 100%;
}

body { 
  /* Sticky footer offset */
  margin-bottom: 60px;
}

/*Typography styles*/
h1, h3, h4 {
   font-family: 'Raleway', sans-serif;
 }

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
}

.profile-pic {
  margin: 1em;
}

.projects {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.resume-sub {
  font-family: 'Raleway', sans-serif;
  font-size: 1.0em;
}

.blurb {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  margin-bottom: 1em;
}

/*Adjust first row due to bootstrap navbar*/
.first-row {
  margin-top: 20px;
}

/*Color for header/footer*/
.name-callout, .intro, .navbar, footer {
  background: #bfe9ff;
}

.name-callout {
  margin: 0;
  color: black;
}

.foot {
  color: black;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*Navbar styles*/
.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 1.2em;
  font-family: sans-serif;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: black;

}

a {
  hover: 0.75;
}